* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; /* Светлый фон для меню */
    border-bottom: 1px solid #e0e0e0; /* Разделительная линия */
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.logo p {
    font-size: 12px;
    color: #666;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger span {
    height: 3px;
    width: 25px;
    background: #333;
    margin: 4px;
    transition: all 0.3s;
}

/* Адаптивный дизайн для мобильных */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #ffffff;
        width: 150px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .menu li {
        margin: 10px 0;
    }

    .burger {
        display: flex;
    }

    .menu.active {
        display: flex;
    }
}
